@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap");

/* ===== Topbar ===== */
#desktop-nav {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

#logoimg {
  width: 50px;
  margin-right: 10px;
  margin-left: 70px;
}

.logoText {
  font-family: "Sansita", sans-serif;
  font-style: italic;
  font-size: 25px;
  font-weight: bold;
  color: #c59452;
  margin-right: 74%;
}

#account_settings {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

/* ===== Navbar ===== */

.collapse a {
  text-indent: 10px;
}

.sidebar-style {
  background-color: #3c34340d !important;
}

.sidebar-style .sidebar-list a:hover {
  background-color: rgba(60, 52, 52, 0.2);
}

.sidebar-style .sidebar-list a:active {
  background-color: rgba(60, 52, 52, 0.4);
}

/* ===== Home ===== */
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e1d5c9 !important;
  width: 1268px;
  height: 520px;
  padding: 60px 0 0 0;
  gap: 60px;
  box-sizing: border-box;
  position: relative;
  left: -8px;
  top: -58px;
}

.content {
  margin-left: 50px;
  margin-bottom: 90px;
}

#title,
#description {
  font-family: "Roboto", sans-serif;
  color: black;
}

#hppic {
  flex-shrink: 0;
  width: 700px;
  position: absolute;
  right: 40px;
  top: 75px;
}

#stats {
  position: relative;
  top: 10px;
}

#title3,
#title4,
#descr {
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: black;
}

.quickstats {
  display: flex;
  flex-wrap: wrap; /* Added this line */
  justify-content: space-between; /* Added this line */
  margin-top: 50px;
  margin-left: 50px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 200px;
  font-weight: 300;
  border-right: 10px;
  border-radius: 10px;
  margin-right: 10px;
}

#icon {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}

#title4 {
  margin-bottom: 20px;
  font-size: 20px;
}
